.music-card {
  align-items: center;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 5px;
  display: flex;
  margin-bottom: 2rem;
  padding: 2%;
}

.music-card p {
  font-size: 18px;
  margin-right: 15px;
}

.music-card audio {
  border-radius: 7px;
  width: 100%;
}

.favorite img {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 0.7rem;
}

.checkbox {
  display: none;
}
