.album-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 20%;
}

.album-card img {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 200px;
}

.collection-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.artist-name {
  color: #555;
  font-size: 14px;
}
