.album-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 10%;
}

.album-card img {
  border-radius: 10px;
}

.collection-name {
  align-self: flex-start;
  padding: 15px 0 0 2px;
}

.artist-name {
  align-self: flex-start;
  color: rgb(81, 81, 81);
  font-size: 12px;
  padding: 5px 0 0 2px;
  text-decoration: none;
}
