header {
  align-items: center;
  background-color: rgb(83, 249, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 12vw;
}

nav {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-evenly;
}
