.musics-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.musics-container {
  width: 70%;
}

.album-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

.album-container img {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 200px;
}
