.voltar {
  position: absolute;
  left: 2%;
  top: 2%;
  cursor: pointer;
}

.musics-content {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.album-container {
  width: 30%;
}

.musics-container {
  display: flex;
  flex-direction: column;
}
